{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="hero-banner">
    <div class="container" style="color: black;">
      <h1>Welcome to PreparedDrivingNZ.co.nz </h1>
      <p>
        Welcome to the Ultimate Driving Test Quiz! Put your knowledge of road rules, traffic signs, and driving etiquette to the test. Get ready to challenge yourself with a series of interactive questions designed to simulate the real driving test experience. Whether you're a learner driver or simply want to brush up on your road knowledge, this quiz app is the perfect tool to help you prepare and boost your confidence. Are you ready to embark on this exciting journey towards driving success? Let's start the engines and dive into the world of driving knowledge!      </p>
    </div>
  </div>

</div>
{% endblock %}
