{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1 style="color: black;">Contact Us</h1>
        <div class="row">
            {% include 'partials/_alerts.html' %}
            </div>
        <form name="submitcontact" method="post" action="{% url 'submitcontact' %}" id="submitcontact">
            {% csrf_token %}
            <div class="control-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <textarea class="form-control" rows="8" name="description" id="description" placeholder="Message" required ></textarea>
                <p class="help-block text-danger"></p>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" id="sendMessageButton">Send Message</button>
            </div>
        </form>
    </div>

{% endblock %}


